In [ ]:
import numpy as np
import pandas as pd
import matplotlib as mpl

In [ ]:
df_csv = pd.read_csv('notas.csv')
df_json = pd.read_json('notas.json')
df_excel = pd.read_excel('notas.xlsx')

In [ ]:
columnas = ['Estudiante', 'Materia', 'Nota1', 'Nota2', 'Nota3']
df_csv = df_csv[columnas]
df_json = df_json[columnas]
df_excel = df_excel[columnas]

In [ ]:
df_final = pd.concat([df_csv, df_json, df_excel], ignore_index=True)

In [ ]:
print(df_final)

   Estudiante      Materia  Nota1  Nota2  Nota3
0        Juan  Matemáticas    3.5    4.5    5.0
1   Alexander       Inglés    4.7    4.8    2.5
2      Daniel      Español    3.0    4.6    2.3
3     Daniela     Religión    4.5    5.0    4.7
4    Cristian     Sociales    3.6    3.8    4.9
5     Gabriel     Biología    3.0    5.0    3.7
6        Jose   Tecnología    5.0    4.7    3.9
7   Alejandra     Lenguaje    3.4    4.6    3.9
8   Alejandro      Química    3.4    4.6    3.9
9       Sofia  Matemáticas    4.8    4.6    4.5
10      Mateo  Matemáticas    2.8    1.5    4.8
11    Valeria     Ciencias    3.9    2.5    3.4
12     Miguel     Lenguaje    4.0    4.6    3.8
13      Luisa       Física    4.9    5.0    4.5
14    Marcela     Economía    3.8    4.9    4.6

In [ ]:
df_final.to_csv('info_materias')